@model Multas.Models.Agentes

@{
   ViewBag.Title = "Detalhes Agente";
}

<h2>Detalhes do Agente <i>@Model.Nome</i></h2>

<div>
   <hr />
   <dl class="dl-horizontal">
      <dt>
         @Html.DisplayNameFor(model => model.Nome)
      </dt>
      <dd>
         @Html.DisplayFor(model => model.Nome)
      </dd>

      <dt>
         @Html.DisplayNameFor(model => model.Esquadra)
      </dt>
      <dd>
         @Html.DisplayFor(model => model.Esquadra)
      </dd>

      <dt>
         @Html.DisplayNameFor(model => model.Fotografia)
      </dt>
      <dd>
         <img src="~/imagens/@Model.Fotografia" height="150" />
         @*@Html.DisplayFor(model => model.Fotografia)*@
      </dd>
   </dl>

   @*mostrar aqui os dados das multas emitidas pelo Agente*@
   <hr />
   <h4>Lista das Multas</h4>
   <table class="table">
      <tr>
         <th>@Html.DisplayNameFor(model => model.ListaDasMultas.FirstOrDefault().ID)</th>
         <th>@Html.DisplayNameFor(model => model.ListaDasMultas.FirstOrDefault().DataDaMulta)</th>
         <th>@Html.DisplayNameFor(model => model.ListaDasMultas.FirstOrDefault().ValorMulta)  </th>
         <th>Condutor</th>
         <th>Viatura</th>
      </tr>
      @* listar as multas de um agente *@
      @foreach(var multa in Model.ListaDasMultas) {
         <tr>
            <td>
               @Html.DisplayFor(modelItem => multa.ID)
            </td>
            <td>
               @multa.DataDaMulta
            </td>
            <td>
               @multa.LocalDaMulta
            </td>
            <td>
               @* link para o condutor *@
               <a href="/condutores/details/@multa.Condutor.ID">@multa.Condutor.Nome</a>
            </td>
            <td>
               @* link para uma Viatura *@
               @Html.ActionLink(multa.Viatura.Matricula,
                                "Details",
                                "Viaturas", new { id = multa.Viatura.ID },
                                null )
            </td>
         </tr>
      }


   </table>




   <hr />

</div>

<p>
   @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
   @Html.ActionLink("Back to List", "Index")
</p>
